.idea/
*.py[cod]
!requirements.txt
*.corpus
*.feature
*.iml
*.exe
*.msi
*.app
*.xls
*.csv
*.xlsx
*.pyc
*.pyw
*.pdf
*.spec
*.xml
*.tff
*.pl
*.docx
*.doc
*.iml
*.keylayout
*.xml
*.wav
*.DS_Store
*.blend
*.obj
*.mtl
*.3ds

# C extensions
*.so

# Documentation
docs/build/
docs/source/generate/
docs/source/generated/

# Generated test files
tests/data/export

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
*.bat
*.txt
